Django==5.0
djangorestframework
psycopg2-binary   # For PostgreSQL database
gunicorn          # For WSGI HTTP Server
whitenoise        # For static files management in production

# Database migration tool
django-extensions

# Security and performance enhancements
django-secure
django-debug-toolbar  # For debugging (use in development only)
